#body-about-us {
  #header {
    @include fluid-size(--pt, 1em, 5, 20);
    .box--3 {
      margin-top: 4em;
      padding-block: 0;
      border-left: .0625em #00C672 solid;
    }
  }

  #numbers {
    .box--3 {
      .h {
        @include fluid-size(margin-block, 1em, .5, .15);
        @include fluid-size(--hs, 1, 1.1, 4);
      }
    }
  }

  #gallery {
    .box__btn {
      display: none;
    }
  }
}

#enjoyment-sustainability {
  .box:has(.bg-fig) {
    --box-pd: 0em;
  }
}

#team {
  .box:has(.bg-fig) {
    --box-pd: 0em;
  }
}

#values {
  .box.bg {
    --radius-pd: 0em;
    &:not(.slider__item--active) {
      --bg-hex: transparent;
    }
    .bg-color {
      transition: background-color .3s;
      border: .0625em $main solid;
    }
  }
  code {
    @include font-cursive;
    padding: .25em .75em;
    background-color: #00C672;
    &:not(.slider__item--active *) {
      background-color: #88E53E33;
    }
    transition: background-color .3s;
  }
  // Arrows
  .slider__arrow {
    position: absolute;
    z-index: 1;
  }
  .slider__arrow--left {
    left: 0;
  }
  .slider__arrow--right {
    right: 0;
  }
  @media (min-width: $vl) {
    .slider__arrows {
      margin: 0;
      .slider__arrow {
        top: 50%;
      }
      .slider__arrow--left {
        translate: -19.5em -50%;
        left: unset;
      }
      .slider__arrow--right {
        translate: 19.5em -50%;
        right: unset;
      }
    }
  }
}
