#contact,
#body-contact #header {
  .box--hide-radius .bg-color {
    border: .0625em $cta solid;
  }
  .h {
    color: $white;
  }
  .form__md {
    @include font-cursive;
    font-size: .8em;
    text-transform: uppercase;
    color: var(--cta);
    margin-left: 0;
  }
  .form__item:has(.form__md):not(input + *),
  .form__item:has(.form__area),
  .form__btn,
  .form__option--consent {
    margin-top: 2em;
  }
  .form--fill-inputs {
    input,
    textarea,
    select {
      border-radius: 0;
      border-color: transparent;
      background-color: $cta-light;
      @include font-cursive;
    }
    .form__checkbox {
      border-color: $cta;
    }
  }
  .form__label {
    @include font-cursive;
    text-transform: uppercase;
    margin-left: 0;
    font-size: .8em;
  }
  .form__btn {
    order: 2;
    width: auto;
    margin-left: auto;
  }
  .form__option--consent {
    font-size: 1em;
  }
}

#address {
  .box__md {
    .link {
      @include font-base;
      color: inherit;
    }
  }
}
