// Root

:root {
  --outline: 0.05rem;
}


// Colors by background

.bg-dark {
  --text: var(--main);
  --title: var(--main);
  --sub: var(--main);
}
.bg-light {
  --text: #{$dark};
}
.bg-light,
.bg-main-light {
  // --cta: #{$cta-dark};
  --cta: #964336;
}
.btn:not(.main, .alt) {
  --cta: #{$cta};
}


// Buttons

#status .btn:not(#aux) {
  --btn-border: var(--base);
}
.loader {
  top: 1em;
}
.btn:not(#aux, .btn--dot, .btn--sm) {
  padding-block: 1em;
  --radius: 5em;
}
.btn--sm > b {
  font-size: .9em;
}
.btn--dot:not(#footer *) > .icon {
  font-size: 1.25em;
}
#footer .btn--dot > .icon {
  font-size: 1.75em;
}
#services .boxes .box .box__buton,
.btn:not(#aux, .faq__btn-dot) {
  --btn-border: transparent;
  --btn-border-hover: var(--cta);
  --btn-border-active: var(--turn);
  &:before {
    border: 1px var(--btn-border) solid;
    transition: background-color .3s, border-color .3s;
  }
  &#{$hover-focus} {
    &:before {
      border-color: var(--btn-border-hover);
    }
  }
  &#{$active} {
    &:before {
      border-color: var(--btn-border-active);
    }
  }
  // Primary
  --hover: color-mix(in srgb, var(--cta), transparent 70%);
  --hover-in: var(--cta);
  --active: transparent;
  --active-in: var(--turn);
  // Secondary
  &.main {
    --main: transparent;
    --main-in: var(--cta);
    --btn-border: transparent;
  }
  // Link
  &.alt {
    --alt: transparent;
    --alt-in: var(--cta);
    --btn-border: var(--cta);
    --hover: transparent;
    --hover-in: var(--turn);
    --btn-border-hover: transparent;
    padding-inline: 0;
    &:before {
      border-radius: 0;
      border-width: 0 0 1px;
    }
  }
  // Secondary with border
  &.such {
    --such: transparent;
    --such-in: var(--turn);
    --btn-border: var(--cta);
  }
  // Other with border
  &.light {
    --light: transparent;
    --light-in: var(--title);
    --btn-border: var(--title);
  }
}


// Modal

.modal {
  background-color: rgba(#000, .75);
}


// Menu

.menu__items .menu__link {
  @include font-cursive;
  text-transform: uppercase;
  color: var(--main);
}
.body-menu--sticky--active {
  // --menu-py: .25em;
  &.body-top {
    --menu-py: 0em;
  }
  .menu {
    border-bottom: 1px $black solid;
    .menu__item:nth-child(4) {
      margin-right: auto;
    }
    --menu-link-pd: 1em;
    &:is(.body-top:has(.section--header.bg-dark) *) {
      --menu-link-pd: 1.75em;
    }
    .menu__link {
      padding-block: var(--menu-link-pd);
    }
    .btn--sm {
      margin: 0;
      padding: .5em 1.5em;
      min-height: 2.5em;
      --radius: 1.25em;
    }
    .menu__item--logo {
      position: absolute;
      left: 50%;
      translate: -50%;
      transition: translate .3s;
      &:is(.body-top:has(.section--header.bg-dark) *) {
        translate: -50% 20%;
        padding-inline: 1.5em;
        background-color: var(--bg-color);
      }
    }
    .menu__link--logo:not(.aux) {
      height: 2.75em;
      padding-block: 0.25em;
      &:is(.body-top:has(.section--header.bg-dark) *) {
        height: 4.5em;
        padding-block: 0.25em;
      }
    }
  }
}
.menu__item:not(.menu__subitems *):nth-last-child(3) {
  &:not(.body-menu--sticky--active *) {
    display: none;
  }
  .menu__link {
    color: $main-dark;
    background-size: 0;
    cursor: default;
  }
}


// Animations

@mixin show-from($delay) {
  animation: show-from .5s (.125s * $delay) both;
}
.menu__logo-img,
.logo__img {
  @include show-from(0);
  --show-from: translateY(10em) scale(3);
}


// Header

#header {
  .h             { @include show-from(1); }
  .md             { @include show-from(2); }
  .box__sub  { @include show-from(3); }
  .img          { @include show-from(4); }
  .box:has(.form) { @include show-from(3); }
}


// Footer

#footer:not(#aux) {
  --bg-hex: #013330;
  .list-inline {
    @include font-cursive;
    font-size: 16px;
    gap: 1em;
    color: $main-dark;
    .link,
    .langs__parent {
      &:not(.btn) {
        color: var(--main);
      }
    }
    // > li {
    //   &:has(.img) {
    //     width: 7em;
    //     .img__in {
    //       border-radius: 0;
    //     }
    //   }
    //   &:has(div:empty) {
    //     margin-left: auto;
    //   }
    //   @media (max-width: 560px) {
    //     &:nth-child(2) {
    //       width: 100%;
    //     }
    //   }
    //   @media (max-width: 870px) {
    //     &:nth-child(7) {
    //       width: 100%;
    //     }
    //   }
    // }
  }
  .btn--dot {
    font-size: .9em;
  }
}
