#body-home #header {
  @include fluid-size(--pt, 1em, 5, 10);
}

#video {
  .box__md,
  .btns {
    margin: 0;
  }
  .btn {
    width: 5em;
    height: 5em;
    .icon {
      font-size: 1.5em;
    }
  }
}

#numbers {
  .container .box {
    border-left: 1px $main solid;
    padding-block: 0;
  }
  .box__md {
    @include fluid-size(margin-top, 1em, 0, -.5);
    @include fluid-size(font-size, 1em, 1, 1.15);
  }
}

#faq,
#body-faq #header {
  .faqs--headers {
    .faq__title:hover {
      --title: inherit;
    }
    .faq {
      border-color: #E8F4A7;
      border-top-width: .125em;
      border-left-width: .125em;
      border-right-width: .125em;
      &:last-child {
        border-bottom-width: .125em;
      }
    }
    .faq__btn-dot {
      --main: #E8F4A7;
    }
    .faq--active {
      background-color: #E8F4A7;
      z-index: 0;
      .faq__btn-dot {
        --main: var(--turn);
        --main-in: var(--turn-in);
      }
      .faq__md {
        margin-top: 0;
      }
    }
  }
}

#services {
  .container .boxes .box {
    padding-bottom: 1em;
    border-bottom: 1px $main solid;
  }
  .img__in {
    transition: opacity .3s, border-radius .3s;
    border-radius: 0;
    &:is(.box:hover > .img > *) {
      border-radius: 100em;
      opacity: .5;
    }
  }
  .box__title + .box__md {
    margin-top: -.5em;
  }
  .box__btn {
    position: absolute;
    top: 12.2875em;
    left: 50%;
    translate: -50% -50%;
    width: max-content;
    z-index: 1;
    transition: opacity .3s;
    opacity: 0;
    &:is(.container .box:hover > *) {
      opacity: 1;
      --hover: var(--cta);
      --hover-in: var(--cta-in);
      --btn-border: transparent;
    }
    &:is(.container .box:active > *) {
      opacity: 1;
    }
  }
}

#how-we-work {
  .box__btn {
    margin-top: 4em;
  }
  @media (min-width: $vl) {
    .box__btn {
      order: -1;
      position: absolute;
      right: 0;
      top: 0.9em;
      margin-top: 0;
    }
    .img {
      margin-left: 0;
    }
  }
}

#gallery {
  .bg-fig-img img {
    @include fluid-size(translate, 1%, 0, 20);
    aspect-ratio: 1 / 1;
    width: auto;
    max-width: none;
    margin-inline: auto 0;
  }
  .boxes {
    .box:nth-child(4n + 2) {
      translate: 0 -2.5em;
    }
    .box:nth-child(4n + 4) {
      translate: 0 2.5em;
    }
  }
  .box__btn {
    margin-top: 4em;
  }
  @media (min-width: $vl) {
    .box__btn {
      order: -1;
      position: absolute;
      right: 0;
      top: 0.9em;
      margin-top: 0;
    }
  }
}

#quotes {
  .boxes {
    --cols-gap-vl: 5;
  }
  .review__icon,
  .review__stars,
  .review__globe:after {
    display: none;
  }
  .review {
    position: relative;
  }
  .review__globe {
    position: static;
    height: auto;
    margin-block: auto;
    --box-pd: 1em 2em;
    .md {
      @include font-title;
      color: #482811;
      font-size: 1.5em;
      text-align: left;
    }
  }
  .review__person {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .review__fig {
    --bg-color: #{$light};
  }
  .review__fig-image:has([src$=".png"], use) {
    padding: .25em;
  }
  .review__author {
    margin-inline: 0 .5em;
  }
  .review__title {
    @include font-base-bold;
    color: #482811;
  }
  .review__sub {
    @include font-base;
    color: #482811;
  }
  .bg-cta-light {
    --bg-hex: #FFF8E6;
  }
  // Arrows
  .slider__arrow {
    position: absolute;
    z-index: 1;
  }
  .slider__arrow--left {
    left: 0;
  }
  .slider__arrow--right {
    right: 0;
  }
  @media (min-width: $vl) {
    .slider__arrows {
      margin: 0;
      .slider__arrow {
        top: 50%;
      }
      .slider__arrow--left {
        translate: -18em -50%;
        left: unset;
      }
      .slider__arrow--right {
        translate: 18em -50%;
        right: unset;
      }
    }
  }
}

#lets-talk {
  .btns {
    font-size: 1.5em;
  }
}
