.type-service {
  #header {
    // @include fluid-size(--pt, 1em, 5, 20);
    .box__sub {
      @include font-base-bold;
      text-transform: uppercase;
      order: -1;
    }
    .box--3 {
      @include fluid-size(margin-top, 1em, 5, 7);
      padding-block: 0;
      border-left: .0625em #00C672 solid;
    }
  }
  #gallery {
    .box__btn {
      display: none;
    }
  }
  #contact {
    --bg-hex: #{$cta-dark};
    --title: #{$white};
  }
}
