#body-about-us {
  #header {
    @include fluid-size(--pt, 1em, 5, 20);
    .h0 {
      @include fluid-size(font-size, 1em, 2.5, 5);
    }
    .h1 {
      @include fluid-size(font-size, 1em, 1.5, 3);
    }
    .image {
      --margin-side: min(var(--container-margin-side, -.5em), -.5em);
      margin-inline: var(--margin-side);
      width: 100vw;
    }
    .box--3 {
      margin-top: 4em;
      padding-block: 0;
      border-left: .0625em #00C672 solid;
    }
  }

  #numbers {
    .box--3 {
      .h0 {
        @include fluid-size(margin-block, 1em, .5, .15);
        @include fluid-size(--hs, 1, 1.1, 4);
      }
    }
  }

  #gallery {
    .h0 {
      @include fluid-size(--hs, 1, 2.2, 3);
    }
  }
}

#enjoyment-sustainability {
  .box:has(.bg-figure) {
    --box-padding: 0em;
  }
  .bg-figure {
    margin-inline: calc(50cqw - 50vw);
    width: 100vw;
    @media (min-width: $screen-max) {
      margin-inline: calc(100cqw - 50vw) 0;
      width: 50vw;
    }
  }
}

#team {
  .box:has(.bg-figure) {
    --box-padding: 0em;
  }
  .bg-figure {
    margin-inline: calc(50cqw - 50vw);
    width: 100vw;
    @media (min-width: $screen-max) {
      margin-inline: 0 calc(100cqw - 50vw);
      width: 50vw;
    }
  }
}

#values {
  .h0 {
    @include fluid-size(font-size, 1em, 1.8, 3.25);
  }
  .box.bg {
    --radius-padding: 0em;
    &:not(.slider__item--active) {
      --bg-hex: transparent;
    }
    .bg-color {
      transition: background-color .3s;
      border: .0625em $main solid;
    }
  }
  code {
    @include font-cursive;
    padding: .25em .75em;
    background-color: #00C672;
    &:not(.slider__item--active *) {
      background-color: #88E53E33;
    }
    transition: background-color .3s;
  }
  .slider__arrows {
    margin: 0;
    .slider__arrow {
      position: absolute;
      top: 50%;
      z-index: 1;
      @include fluid-size(--slider-arrow-side, 1em, 9.25, 20);
    }
    .slider__arrow--left {
      translate: calc(-1 * var(--slider-arrow-side)) -50%;
    }
    .slider__arrow--right {
      translate: var(--slider-arrow-side) -50%;
    }
  }
}

#our-sustainability {
  .h0 {
    @include fluid-size(--hs, 1, 2.5, 3);
  }
}
